In [2]:
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import plotly.express as px

%matplotlib inline

In [3]:
df = pd.read_csv('Data/Food_Production.csv')
df.fillna(0.0, inplace=True)
df.head()

,Food product,Land use change,Animal Feed,Farm,Processing,Transport,Packging,Retail,Total_emissions,Eutrophying emissions per 1000kcal (gPO₄eq per 1000kcal),...,Freshwater withdrawals per 100g protein (liters per 100g protein),Freshwater withdrawals per kilogram (liters per kilogram),Greenhouse gas emissions per 1000kcal (kgCO₂eq per 1000kcal),Greenhouse gas emissions per 100g protein (kgCO₂eq per 100g protein),Land use per 1000kcal (m² per 1000kcal),Land use per kilogram (m² per kilogram),Land use per 100g protein (m² per 100g protein),Scarcity-weighted water use per kilogram (liters per kilogram),Scarcity-weighted water use per 100g protein (liters per 100g protein),Scarcity-weighted water use per 1000kcal (liters per 1000 kilocalories)
0,Wheat & Rye (Bread),0.1,0.0,0.8,0.2,0.1,0.1,0.1,1.4,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.00000,0.000000
1,Maize (Meal),0.3,0.0,0.5,0.1,0.1,0.1,0.0,1.1,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.00000,0.000000
2,Barley (Beer),0.0,0.0,0.2,0.1,0.0,0.5,0.3,1.1,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.00000,0.000000
3,Oatmeal,0.0,0.0,1.4,0.0,0.1,0.1,0.0,1.6,4.281357,...,371.076923,482.4,0.945482,1.907692,2.897446,7.6,5.846154,18786.2,14450.92308,7162.104461
4,Rice,0.0,0.0,3.6,0.1,0.1,0.1,0.1,4.0,9.514379,...,3166.760563,2248.4,1.207271,6.267606,0.759631,2.8,3.943662,49576.3,69825.77465,13449.891480

# Link Databases

In [4]:
comp_dict = {'Wheat & Rye (Bread)' : ['Wheat and products', 'Rye and products'],
            'Maize (Meal)' : ['Maize and products'],
            'Barley (Beer)' : ['Barley and products', 'Beer'],
            'Oatmeal' : ['Oats'],
            'Rice' : ['Rice (Milled Equivalent)', 'Ricebran Oil'],
            'Potatoes' : ['Potatoes and products', 'Sweet potatoes', 'Yams'],
            'Cassava' : ['Cassava and products'],
            'Cane Sugar' : ['Sugar cane', 'Sugar (Raw Equivalent)', 'Sugar & Sweeteners', 'Sugar non-centrifugal'],
            'Beet Sugar' : ['Sugar beet', 'Sweeteners, Other', 'Sugar Crops'],
            'Other Pulses' : ['Pulses, Other and products', 'Pulses', 'Beans', 'Millet and products', 'Cereals, Other'],
            'Peas' : ['Peas'],
            'Nuts' : ['Nuts and products', 'Treenuts'],
            'Groundnuts' : ['Groundnut Oil', 'Groundnuts (Shelled Eq)'],
            'Soymilk' : [],
            'Tofu' : [],
            'Soybean Oil' : ['Soyabean Oil'],
            'Palm Oil' : ['Palm Oil', 'Palm kernels', 'Palmkernel Oil'],
            'Sunflower Oil' : ['Sunflowerseed Oil'],
            'Rapeseed Oil' : ['Rape and Mustard Oil'],
            'Olive Oil' : ['Olive Oil'],
            'Tomatoes' : ['Tomatoes and products'],
            'Onions & Leeks' : ['Onions'],
            'Root Vegetables' : ['Starchy Roots', 'Roots, Other'],
            'Brassicas' : ['Rape and Mustardseed'],
            'Other Vegetables' : ['Vegetables, Other', 'Vegetables'],
            'Citrus Fruit' : ['Oranges, Mandarines', 'Citrus, Other', 'Lemons, Limes and products', 'Grapefruit and products'],
            'Bananas' : ['Bananas', 'Plantains'],
            'Apples' : ['Apples and products'],
            'Berries & Grapes' : ['Grapes and products (excl wine)'],
            'Wine' : ['Wine', 'Beverages, Alcoholic', 'Alcoholic Beverages', 'Beverages, Fermented'],
            'Other Fruit' : ['Fruits, Other', 'Fruits - Excluding Wine', 'Pineapples and products', 'Dates'],
            'Coffee' : ['Coffee and products'],
            'Dark Chocolate' : ['Cocoa Beans and products'],
            'Beef (beef herd)' : ['Bovine Meat'],
            'Beef (dairy herd)' : [],
            'Lamb & Mutton' : ['Mutton & Goat Meat'],
            'Pig Meat' : ['Pigmeat'],
            'Poultry Meat' : ['Poultry Meat'],
            'Milk' : ['Butter, Ghee', 'Cream', 'Milk - Excluding Butter'],
            'Cheese' : [],
            'Eggs' : ['Eggs'],
            'Fish (farmed)' : ['Freshwater Fish'],
            'Shrimps (farmed)' : ['Crustaceans']}

In [5]:
other_items = ['Honey', 'Coconuts - Incl Copra', 'Sesame seed', 'Olives (including preserved)', 'Cottonseed Oil', 
               'Sesameseed Oil', 'Oilcrops Oil, Other', 'Tea (including mate)', 'Pepper', 'Spices, Other', 
               'Meat, Other', 'Offals, Edible', 'Fats, Animals, Raw', 'Infant food', 'Cereals - Excluding Beer',
               'Oilcrops', 'Vegetable Oils', 'Stimulants', 'Spices', 'Meat', 'Offals', 'Animal fats', 
               'Fish, Seafood', 'Miscellaneous', 'Sorghum and products', 'Soyabeans', 'Oilcrops, Other', 'Maize Germ Oil', 
               'Pimento', 'Fish, Body Oil', 'Fish, Liver Oil', 'Demersal Fish', 'Pelagic Fish', 'Marine Fish, Other', 
               'Cephalopods', 'Molluscs, Other', 'Aquatic Animals, Others', 'Aquatic Plants', 'Aquatic Products, Other', 
               'Coconut Oil', 'Cloves', 'Sunflower seed', 'Cottonseed', 'Meat, Aquatic Mammals']

In [6]:
food_df = pd.read_csv('Data/who_eats_food_we_grow.csv', encoding = "ISO-8859-1")
food_df.shape

(21477, 63)

In [7]:
def drop_other_items():
    index_to_drop = []
    for index, item in enumerate(food_df['Item']):
        if item in other_items:
            index_to_drop.append(index)
        else:
            continue
    print("Number of rows dropped: ", len(index_to_drop))
    food_df.drop(index_to_drop, inplace=True)
    return food_df

In [8]:
drop_other_items()

Number of rows dropped:  8017

,Area Abbreviation,Area Code,Area,Item Code,Item,Element Code,Element,Unit,latitude,longitude,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
0,AFG,2,Afghanistan,2511,Wheat and products,5142,Food,1000 tonnes,33.94,67.71,...,3249.0,3486.0,3704.0,4164.0,4252.0,4538.0,4605.0,4711.0,4810,4895
1,AFG,2,Afghanistan,2805,Rice (Milled Equivalent),5142,Food,1000 tonnes,33.94,67.71,...,419.0,445.0,546.0,455.0,490.0,415.0,442.0,476.0,425,422
2,AFG,2,Afghanistan,2513,Barley and products,5521,Feed,1000 tonnes,33.94,67.71,...,58.0,236.0,262.0,263.0,230.0,379.0,315.0,203.0,367,360
3,AFG,2,Afghanistan,2513,Barley and products,5142,Food,1000 tonnes,33.94,67.71,...,185.0,43.0,44.0,48.0,62.0,55.0,60.0,72.0,78,89
4,AFG,2,Afghanistan,2514,Maize and products,5521,Feed,1000 tonnes,33.94,67.71,...,120.0,208.0,233.0,249.0,247.0,195.0,178.0,191.0,200,200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21463,ZWE,181,Zimbabwe,2919,Fruits - Excluding Wine,5142,Food,1000 tonnes,-19.02,29.15,...,191.0,134.0,167.0,177.0,185.0,184.0,211.0,230.0,246,217
21466,ZWE,181,Zimbabwe,2924,Alcoholic Beverages,5142,Food,1000 tonnes,-19.02,29.15,...,294.0,290.0,316.0,355.0,398.0,437.0,448.0,476.0,525,516
21470,ZWE,181,Zimbabwe,2949,Eggs,5142,Food,1000 tonnes,-19.02,29.15,...,15.0,18.0,18.0,21.0,22.0,27.0,27.0,24.0,24,25
21471,ZWE,181,Zimbabwe,2948,Milk - Excluding Butter,5521,Feed,1000 tonnes,-19.02,29.15,...,21.0,21.0,21.0,21.0,21.0,23.0,25.0,25.0,30,31
21472,ZWE,181,Zimbabwe,2948,Milk - Excluding Butter,5142,Food,1000 tonnes,-19.02,29.15,...,373.0,357.0,359.0,356.0,341.0,385.0,418.0,457.0,426,451

In [9]:
def get_item_list():
    item_list = []
    for item in food_df['Item']:
        for key in comp_dict.keys():
            if item in comp_dict[key]:
                item_list.append(key)
            else: 
                continue
    return item_list

In [10]:
food_df['Enviro Key'] = get_item_list()

In [11]:
food_df.drop(columns=['Area Code', 'Item Code', 'Element Code', 'Unit', 'latitude', 'longitude'], 
             inplace=True)

In [12]:
%store -r years

In [ ]:
def one_thous_tonnes():
    for year in years:
        this_year = []
        for val in food_df[year]:
            this_year.append(val * 1000)
        food_df[year]=this_year
    return food_df

In [ ]:
new_food_df = one_thous_tonnes()
new_food_df

In [15]:
new_food_df.to_csv('Data/yearly_total_by_item_per_country.csv', index=False)

In [16]:
cols = ['Land use change', 'Animal Feed', 'Farm', 'Processing',
       'Transport', 'Packging', 'Retail','Eutrophying emissions per 1000kcal (gPO₄eq per 1000kcal)',
       'Eutrophying emissions per kilogram (gPO₄eq per kilogram)',
       'Eutrophying emissions per 100g protein (gPO₄eq per 100 grams protein)',
       'Freshwater withdrawals per 1000kcal (liters per 1000kcal)',
       'Freshwater withdrawals per 100g protein (liters per 100g protein)',
       'Freshwater withdrawals per kilogram (liters per kilogram)',
       'Greenhouse gas emissions per 1000kcal (kgCO₂eq per 1000kcal)',
       'Greenhouse gas emissions per 100g protein (kgCO₂eq per 100g protein)',
       'Land use per 1000kcal (m² per 1000kcal)',
       'Land use per kilogram (m² per kilogram)',
       'Land use per 100g protein (m² per 100g protein)',
       'Scarcity-weighted water use per kilogram (liters per kilogram)',
       'Scarcity-weighted water use per 100g protein (liters per 100g protein)',
       'Scarcity-weighted water use per 1000kcal (liters per 1000 kilocalories)']

In [17]:
df.drop(columns=cols, inplace=True)

In [18]:
def kg_to_tonne():
    tonne = []
    for val in df['Total_emissions']:
        tonne.append(val*1000)
    return tonne

In [19]:
df['Total Emissions per Tonne']=kg_to_tonne()

In [20]:
df.head()

          Food product  Total_emissions  Total Emissions per Tonne
0  Wheat & Rye (Bread)              1.4                     1400.0
1         Maize (Meal)              1.1                     1100.0
2        Barley (Beer)              1.1                     1100.0
3              Oatmeal              1.6                     1600.0
4                 Rice              4.0                     4000.0

In [21]:
emissions_df = new_food_df.copy()

In [22]:
def get_emissions():
    emissions = []
    for item in emissions_df['Enviro Key']:
        convert_rate = round((df.loc[df['Food product'] == item])['Total Emissions per Tonne'].values[0])
        emissions.append(convert_rate)
    return emissions

In [23]:
emissions_df['Total Emissions per Tonne']=get_emissions()

In [24]:
emissions_df.head()

,Area Abbreviation,Area,Item,Element,Y1961,Y1962,Y1963,Y1964,Y1965,Y1966,...,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013,Enviro Key,Total Emissions per Tonne
0,AFG,Afghanistan,Wheat and products,Food,1928000.0,1904000.0,1666000.0,1950000.0,2001000.0,1808000.0,...,3704000.0,4164000.0,4252000.0,4538000.0,4605000.0,4711000.0,4810000,4895000,Wheat & Rye (Bread),1400.0
1,AFG,Afghanistan,Rice (Milled Equivalent),Food,183000.0,183000.0,182000.0,220000.0,220000.0,195000.0,...,546000.0,455000.0,490000.0,415000.0,442000.0,476000.0,425000,422000,Rice,4000.0
2,AFG,Afghanistan,Barley and products,Feed,76000.0,76000.0,76000.0,76000.0,76000.0,75000.0,...,262000.0,263000.0,230000.0,379000.0,315000.0,203000.0,367000,360000,Barley (Beer),1100.0
3,AFG,Afghanistan,Barley and products,Food,237000.0,237000.0,237000.0,238000.0,238000.0,237000.0,...,44000.0,48000.0,62000.0,55000.0,60000.0,72000.0,78000,89000,Barley (Beer),1100.0
4,AFG,Afghanistan,Maize and products,Feed,210000.0,210000.0,214000.0,216000.0,216000.0,216000.0,...,233000.0,249000.0,247000.0,195000.0,178000.0,191000.0,200000,200000,Maize (Meal),1100.0

In [25]:
emissions_df.to_csv('Data/emissions_df.csv', index=False)